<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>


<div layout:fragment="content" >

    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Deleted Students List</h3>
                    <a th:href="@{/dexportCSV}" class="btn btn-success btn-sm mb-3"><i class="fas fa-download"></i> Download CSV</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0" style="text-align: center;">
                        <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email</th>
                            <th>Deletion Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student: ${students}">
                            <td th:text="${student.firstName}"></td>
                            <td th:text="${student.lastName}"></td>
                            <td th:text="${student.email}"></td>
                            <td th:text="${student.deletionReason}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div >
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage > 0}? 'page-item ': 'page-item disabled'">
                    <a class="page-link"  th:href="@{/deletedStudents(page=${currentPage - 1}, Search=${Search})}">Previous</a>
                </li>
                <li th:each="v,pageNumber: ${pages}" th:class="${pageNumber.index == currentPage}? 'page-item active': 'page-item'" ><a th:href="@{/deletedStudents(page=${pageNumber.index},Search=${Search})}" class="page-link" th:text="${1+pageNumber.index}"></a></li>
                <li th:class="${currentPage < Tpages - 1}? 'page-item ': 'page-item disabled'">
                    <a class="page-link" th:href="@{/deletedStudents(page=${currentPage + 1}, Search=${Search})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>


</html>