<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SchoolManager - Bootstrap Admin Template">
    <meta name="keywords" content="admin, school , management">
    <meta name="author" content="Ayoub Anafal - Bootstrap Admin Template">
    <title>School Manager</title>

    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/material.css">

    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>

<div class="main-wrapper">

    <div class="header">

        <div class="header-left">
            <a class="logo"><img src="../assets/img/img_1.png" alt="Logo" width="45" height="45" ></a>
            <a class="logo collapse-logo"><img src="../assets/img/img_1.png" width="20" height="20" alt="Logo"></a>
            <a class="logo2"><img src="../assets/img/img_1.png" width="40" height="40" alt="Logo"></a>
        </div>

        <a id="toggle_btn" href="javascript:void(0);">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
        </a>

        <div class="page-title-box">
            <h3>School Manager</h3>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa-solid fa-bars"></i></a>

        <ul class="nav user-menu">


            <li class="nav-item dropdown has-arrow main-drop">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                    <span class="user-img"><img src="../assets/img/avatar/avatar-27.jpg" alt="User Image">
                    <span class="status online"></span></span>
                    <span sec:authorize="hasRole('SUPER')">Super</span>
                    <span sec:authorize="hasRole('ADMIN')">Admin</span>
                    <span sec:authorize="hasRole('USER')">User</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>


        <div class="dropdown mobile-user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="profile.html">My Profile</a>
                <a class="dropdown-item" href="index.html">Logout</a>
            </div>
        </div>

    </div>


    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">

                <nav class="greedys sidebar-horizantal">
                    <ul>
                        <li class="menu-title">
                            <span>Students</span>
                        </li>
                        <li class="submenu">
                            <a th:href="@{/test}" class="noti-dot"><i class="la la-user"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/test}">All Students</a></li>
                                <li><a th:href="@{/deletedStudents}">Deleted Students</a></li>
                            </ul>

                        </li>
                        <li class="menu-title">
                            <span>Teachers</span>
                        </li>
                        <li class="submenu">
                            <a th:href="@{/teachers}" class="noti-dot"><i class="la la-user"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/teachers}">All Teachers</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasRole('SUPER')" class="menu-title">
                            <span>Users</span>
                        </li>
                        <li sec:authorize="hasRole('SUPER')" class="submenu">
                            <a th:href="@{/users}" class="noti-dot"><i class="la la-user"></i> <span> Users</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/users}">All Users</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button class="viewmoremenu">More Menu</button>
                </nav>

                <ul class="sidebar-vertical">
                    <li class="menu-title">
                        <span>Students</span>
                    </li>
                    <li class="submenu">
                        <a th:href="@{/test}" class="noti-dot"><i class="la la-user"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a th:href="@{/test}">All Students</a></li>
                            <li><a th:href="@{/deletedStudents}">Deleted Students</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">
                        <span>Teachers</span>
                    </li>
                    <li class="submenu">
                        <a th:href="@{/teachers}" class="noti-dot"><i class="la la-user"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a th:href="@{/teachers}">All Teachers</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('SUPER')" class="menu-title">
                        <span>Users</span>
                    </li>
                    <li sec:authorize="hasRole('SUPER')" class="submenu">
                        <a th:href="@{/users}" class="noti-dot"><i class="la la-user"></i> <span> Users</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a th:href="@{/users}">All Users</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="page-wrapper">

        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Edit Student</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h1 class="card-title text-center">Update Student</h1>
                                    <form th:action="@{/students/{id}(id=${student.id})}" th:object="${student}" method="POST">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                                                   class="form-control" placeholder="Enter Student First Name"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                                                   class="form-control" placeholder="Enter Student Last Name"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" id="email" name="email" th:field="*{email}" class="form-control"
                                                   placeholder="Email@gmail.com"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Parents Number</label>
                                            <input type="text" id="parentsNumber" name="ParentsNumber" th:field="*{parentsNumber}" class="form-control"
                                                   placeholder="0000 0000 00"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">First Semester Grade</label>
                                            <input type="text" id="firstSemesterGrade" name="firstSemesterGrade" th:field="*{firstSemesterGrade}" class="form-control"
                                                   placeholder="--"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Second Semester Grade</label>
                                            <input type="text" id="secondSemesterGrade" name="secondSemesterGrade" th:field="*{secondSemesterGrade}" class="form-control"
                                                   placeholder="--"/>
                                        </div>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="page-wrapper" align="center">&copy; copyright: School Manager 2024<br/> X - Casablanca- Morocco<br/> ayoubanafal2200@gmail.com
    </div>

    <script th:src="@{../assets/js/jquery-3.7.1.min.js}"  type="df39114256e2f0a6a2a96ed6-text/javascript"></script>

    <script th:src="@{../assets/js/bootstrap.bundle.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>

    <script th:src="@{../assets/js/jquery.slimscroll.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>

    <script th:src="@{../assets/js/moment.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
    <script th:src="@{../assets/js/bootstrap-datetimepicker.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>

    <script th:src="@{../assets/js/layout.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
    <script th:src="@{../assets/js/theme-settings.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
    <script th:src="@{../assets/js/greedynav.js}"  type="df39114256e2f0a6a2a96ed6-text/javascript"></script>

    <script th:src="@{../assets/js/app.js}"  type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
    <script th:src="@{../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js}"  data-cf-settings="df39114256e2f0a6a2a96ed6-|49" defer></script>
</div>
</body>


</html>