<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        body {
            background-image: url('/assets/img/index_1.png');
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <!-- Your content here -->
</div>
</body>
</html>
