<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style_login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <form class="form-signin" method="post" action="/login" th:object="${loginRequest}">
        <h2 class="form-signin-heading">login</h2>
        <input type="text" class="form-control" name="userName" placeholder="userName" required=""/>
        <input type="password" class="form-control" name="password" placeholder="password" required=""/>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
        <a href="#">Forget Password</a>
    </form>
</div>


</body>
</html>