<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/deletedStudents}">Deleted Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teachers}">Teachers</a>
            </li>
        </ul>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/logout}" >Logout</a>
        </li>
    </ul>
</nav>

<div class="container-lg">
    <div class="row">
        <h1>Schedule</h1>
    </div>


    <div class="d-flex justify-content-around">
        <div class="col-lg">
            <a th:href="@{/ScheduleExportCSV/{id}(id=${id})}" class="btn btn-success btn-sm mb-3"><i class="fas fa-download"></i> Download CSV</a>
        </div>
    </div>

    <table class="table table-striped table-bordered" style="text-align: center;">
        <thead class="thead-dark">
        <tr>
            <th>Day</th>
            <th>First Period</th>
            <th>Second Period</th>
            <th>Third Period</th>
            <th>Fourth Period</th>
            <th sec:authorize="hasRole('super')" style="width: 12%;">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="schedule: ${schedules}">
            <td th:text="${schedule.day}"></td>
            <td th:text="${schedule.firstPeriod}"></td>
            <td th:text="${schedule.secondPeriod}"></td>
            <td th:text="${schedule.thirdPeriod}"></td>
            <td th:text="${schedule.fourthPeriod}"></td>
            <td sec:authorize="hasRole('super')" style="text-align: center;">
                <a th:href="@{/schedules/edit/{id}(id=${schedule.idS})}" class="btn btn-primary btn-sm" >
                    <i class="fas fa-pencil-alt fa-xs" ></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
