<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="../css/student.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/deletedStudents}">Deleted Students</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-lg">
    <div class="row">
        <h1>Students Absence List</h1>
    </div>


    <div class="d-flex justify-content-around">
        <div class="col-lg">
            <a th:href="@{/studentsAbsence/new/{id}(id=${id})}" class="btn btn-primary btn-sm mb-3"><i class="fas fa-plus"></i> Add Absence</a>
            <a th:href="@{/AbsenceExportCSV}" class="btn btn-success btn-sm mb-3"><i class="fas fa-download"></i> Download CSV</a>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Missed Class</th>
            <th>Absence Reason</th>
            <th sec:authorize="hasRole('super')" style="width: 7%;">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="absence: ${Absences}">
            <td th:text="${absence.date}"></td>
            <td th:text="${absence.missedClass}"></td>
            <td th:text="${absence.reason}"></td>
            <td sec:authorize="hasRole('super')" style="text-align: center;">
                <a th:href="@{/studentsAbsence/edit/{id}(id=${absence.id})}" class="btn btn-primary btn-sm" >
                    <i class="fas fa-pencil-alt fa-xs" ></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container fixed-bottom-nav">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:class="${currentPage > 0}? 'page-item ': 'page-item disabled'">
                <a class="page-link"  th:href="@{'/studentsAbsence/'+${id}(page=${currentPage - 1}, Search=${Search})}">Previous</a>
            </li>
            <li th:each="v,pageNumber: ${pages}" th:class="${pageNumber.index == currentPage}? 'page-item active': 'page-item'" ><a th:href="@{'/studentsAbsence/'+${id}(page=${pageNumber.index},Search=${Search})}" class="page-link" th:text="${1+pageNumber.index}"></a></li>
            <li th:class="${currentPage < Tpages - 1}? 'page-item ': 'page-item disabled'">
                <a class="page-link" th:href="@{'/studentsAbsence/'+${id}(page=${currentPage + 1}, Search=${Search})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
