<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SchoolManager - Bootstrap Admin Template">
    <meta name="keywords" content="admin, school , management">
    <meta name="author" content="Ayoub Anafal - Bootstrap Admin Template">
    <title>School Manager</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="p-3 m-2">
    <div class="card">
        <div class="card-header">
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <nav class="greedys sidebar-horizantal">
                            <ul>
                                <li class="menu-title">
                                    <span>Main</span>
                                </li>
                                <li class="submenu">
                                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="admin-dashboard.html">Admin Dashboard</a></li>
                                        <li><a href="employee-dashboard.html">Employee Dashboard</a></li>
                                        <li><a href="deals-dashboard.html">Deals Dashboard</a></li>
                                        <li><a href="leads-dashboard.html">Leads Dashboard</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="chat.html">Chat</a></li>
                                        <li class="submenu">
                                            <a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
                                            <ul>
                                                <li><a href="voice-call.html">Voice Call</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="events.html">Calendar</a></li>
                                    </ul>
                                </li>
                                <li class="menu-title">
                                    <span>Students</span>
                                </li>
                                <li class="submenu">
                                    <a th:href="@{/teachers}" class="noti-dot"><i class="la la-user"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a th:href="@{/test}">All Students</a></li>
                                    </ul>
                                </li>
                                <li class="menu-title">
                                    <span>Teachers</span>
                                </li>
                                <li class="submenu">
                                    <a th:href="@{/teachers}" class="noti-dot"><i class="la la-user"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a th:href="@{/teachers}">All Teachers</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <button class="viewmoremenu">More Menu</button>
                        </nav>
                        <ul class="sidebar-vertical">
                            <li class="menu-title">
                                <span>Main</span>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="admin-dashboard.html">Admin Dashboard</a></li>
                                    <li><a href="employee-dashboard.html">Employee Dashboard</a></li>
                                    <li><a href="deals-dashboard.html">Deals Dashboard</a></li>
                                    <li><a href="leads-dashboard.html">Leads Dashboard</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="chat.html">Chat</a></li>
                                    <li class="submenu">
                                        <a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
                                        <ul>
                                            <li><a href="voice-call.html">Voice Call</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="events.html">Calendar</a></li>
                                </ul>
                            </li>
                            <li class="menu-title">
                                <span>Students</span>
                            </li>
                            <li class="submenu">
                                <a th:href="@{/test}" class="noti-dot"><i class="la la-user"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a th:href="@{/test}">All Students</a></li>
                                </ul>
                            </li>
                            <li class="menu-title">
                                <span>Teachers</span>
                            </li>
                            <li class="submenu">
                                <a th:href="@{/teachers}" class="noti-dot"><i class="la la-user"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a th:href="@{/teachers}">All Teachers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <section layout:fragment="content"></section>
        </div>
        <div class="card-footer" align="center">&copy; copyright: School Manager 2024<br/> X - Casablanca- Morocco<br/> ayoubanafal2200@gmail.com
        </div>
    </div>
</div>
<script th:src="@{assets/js/jquery-3.7.1.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/bootstrap.bundle.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/jquery.slimscroll.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/moment.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/bootstrap-datetimepicker.min.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/layout.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/theme-settings.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/greedynav.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{assets/js/app.js}" type="df39114256e2f0a6a2a96ed6-text/javascript"></script>
<script th:src="@{/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js}" data-cf-settings="df39114256e2f0a6a2a96ed6-|49" defer></script>
</body>
</html>




<div class="modal custom-modal fade" id="delete_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Holiday</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>